@import "@styles/variables.css";

.input {
    padding: 0;
    width: 295px;
    height: 50px;
    vertical-align: top;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--plasesholder-color);
    text-indent: 12px;
}
.input:focus {
    border: 1px solid var(--red-color);
    outline: 0;
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.input:disabled {
    background-color: var(--disabled-input-bgc);
    color: var(--placeholder-color);
}