@import "@styles/variables.scss";

.search {
    margin: 20px 20px;
}
.repositories {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    margin: 0 0 0 20px;
}
.error {
    color: $redColor;
    margin: -20px 20px 0;
}