@import "styles/variables.scss";

.btn {
    @include square(50px, 50px);
    font-size: 0;
    margin-left: 10px;
    background: $redColor;
    color: white;
    border-radius: 6px;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    &:disabled {
        background-color: $borderColor;
    }
}