$redColor: #FF5555;
$borderColor: #D9D9D9;
$plasesholderColor: #7E7E7E;
$textColor: #000;
$disabledInputBgc: #F9F9F9;
$companyHover: #208FBF;

@mixin square($width, $height) {
  width: $width;
  height: $height;
}