@import "@styles/variables.css";

.avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    top: 12px;
    left: 12px;
    background: var(--red-color);
    border-radius: 50%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    color: white;
}