@import "@styles/variables.css";

.repositoty {
    width: 357px;
    height: 104px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    position: relative;
}
.repositoty:hover {
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
    cursor: pointer;
}
.repositoty__information-rep {
    display: inline-block;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}
.repositoty__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    width: 240px;
    white-space: nowrap;
    overflow-x: hidden;
}
.repositoty__company {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--plasesholder-color);
}
.repositoty__company:hover {
    color: var(--company-hover);
}
.repositoty__details {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    position: relative;
    width: 250px;
}
.repositoty__counter-star {
    margin-left: 17px;
    font-family: Robot, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--plasesholder-color);
}
.repositoty__last-update {
    height: 16px;
    width: 200px;
    margin: 0;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--plasesholder-color);
}