<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search repository</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="search">
        <input class="search__input" type="text" placeholder="Введите название организации">
        <button class="search__btn">
            <img src="./img/search-btn.svg" alt="">
        </button>
    </div>
    <div class="repositories">
        <div class="repositoty">
            <span class="repositoty__avatar"><img src="./img/avatar.svg" alt="A"></span>
            <div class="repositoty__information-rep">
                <p class="repositoty__title">kts-school-frontendkts-school-frontendkts-school-frontend</p>
                <p class="repositoty__company">ktsstudio</p>
                <div class="repositoty__details">
                    <img src="./img/star.svg" alt="" class="repositoty__star-repository">
                    <div class="repositoty__counter-star">123</div>
                    <p class="repositoty__last-update">Updated 21 Jul</p>
                </div>
            </div>
        </div>
        <div class="repositoty">
            <span class="repositoty__avatar"><img src="./img/avatar.svg" alt="A"></span>
            <div class="repositoty__information-rep">
                <p class="repositoty__title">kts-school-frontendkts-school-frontendkts-school-frontend</p>
                <p class="repositoty__company">ktsstudio</p>
                <div class="repositoty__details">
                    <img src="./img/star.svg" alt="" class="repositoty__star-repository">
                    <div class="repositoty__counter-star">123</div>
                    <p class="repositoty__last-update">Updated 21 Jul</p>
                </div>
            </div>
        </div>
        <div class="repositoty">
            <span class="repositoty__avatar"><img src="./img/avatar.svg" alt="A"></span>
            <div class="repositoty__information-rep">
                <p class="repositoty__title">kts-school-frontendkts-school-frontendkts-school-frontend</p>
                <p class="repositoty__company">ktsstudio</p>
                <div class="repositoty__details">
                    <img src="./img/star.svg" alt="" class="repositoty__star-repository">
                    <div class="repositoty__counter-star">123</div>
                    <p class="repositoty__last-update">Updated 21 Jul</p>
                </div>
            </div>
        </div>
        <div class="repositoty">
            <span class="repositoty__avatar"><img src="./img/avatar.svg" alt="A"></span>
            <div class="repositoty__information-rep">
                <p class="repositoty__title">kts-school-frontendkts-school-frontendkts-school-frontend</p>
                <p class="repositoty__company">ktsstudio</p>
                <div class="repositoty__details">
                    <img src="./img/star.svg" alt="" class="repositoty__star-repository">
                    <div class="repositoty__counter-star">123</div>
                    <p class="repositoty__last-update">Updated 21 Jul</p>
                </div>
            </div>
        </div>
        <div class="repositoty">
            <span class="repositoty__avatar"><img src="./img/avatar.svg" alt="A"></span>
            <div class="repositoty__information-rep">
                <p class="repositoty__title">kts-school-frontendkts-school-frontendkts-school-frontend</p>
                <p class="repositoty__company">ktsstudio</p>
                <div class="repositoty__details">
                    <img src="./img/star.svg" alt="" class="repositoty__star-repository">
                    <div class="repositoty__counter-star">123</div>
                    <p class="repositoty__last-update">Updated 21 Jul</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>