@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
* {
    --red-color: #FF5555;
    --border-color: #D9D9D9;
    --plasesholder-color: #7E7E7E;
    --text-color: #000;
    --disabled-input-bgc: #F9F9F9;
    --company-hover: #208FBF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.search {
    margin: 20px 20px;
    font-size: 0;
}
.search > .search__input {
    padding: 0;
    width: 295px;
    height: 50px;
    vertical-align: top;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--plasesholder-color);
    text-indent: 12px;
}
.search__input:focus {
    border: 1px solid var(--red-color);
    outline: 0;
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.search__input:disabled {
    background-color: var(--disabled-input-bgc);
    color: var(--placeholder-color);
}
.search > .search__btn {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    padding: 0;
    background: var(--red-color);
    border-radius: 6px;
    border: none;
}
.search__btn:hover {
    opacity: 0.7;
    cursor: pointer;
}
.search__btn:disabled {
    background-color: var(--border-color);
}
.repositories {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    margin: 0 0 0 20px;
}
.repositoty {
    width: 357px;
    height: 104px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    position: relative;
}
.repositoty:hover {
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
    cursor: pointer;
}
.repositoty__avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    top: 12px;
    left: 12px;
    background: var(--red-color);
    border-radius: 50%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    color: white;
}
.repositoty__information-rep {
    display: inline-block;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}
.repositoty__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    width: 240px;
    white-space: nowrap;
    overflow-x: hidden;
}
.repositoty__company {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--plasesholder-color);
}
.repositoty__company:hover {
    color: var(--company-hover);
}
.repositoty__details {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    position: relative;
    width: 155px;
}
.repositoty__star-repository {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 12.39px;
}
.repositoty__counter-star {
    margin-left: 17px;
    font-family: Robot, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--plasesholder-color);
}
.repositoty__last-update {
    height: 16px;
    margin: 0;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--plasesholder-color);
}